@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;  
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .search-container {
    width: 80%;  
  }
}

.search-title {
  margin-bottom: 20px;
  text-align: center;
}

.search-form {
  display: flex;
  width: 100%;
  height: 36px;
  margin-bottom: 30px;
}

.search-input {  
  width: 100%;
  height: 100%;
  padding: 5px;
  
  color: #000000;
  background-color: #ffffff;
  
  border: 3px solid #00B4CC;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-btn {
  width: 40px;
  height: 36px;

  border: 1px solid #00B4CC;
  border-radius: 0 5px 5px 0;

  background-color: #00B4CC;
  background-image: url("assets/img/search-icon.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;

  outline: none;

  transition: all 0.2s ease-in;

  cursor: pointer;  
}

.search-btn:hover,
.search-btn:focus {
  border-color: #008fa3;
  background-color: #008fa3;
}

.search-btn:active {
  border-color: #006b7a;
  background-color: #006b7a;
}

.repo-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 72px;
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  background-color:	#F8F8F8; 
}

.repo-title,
.repo-description {
  margin-bottom: 8px;
}

.repo-title {
  font-size: 20px;
}

.repo-language {
  display: flex;
  align-items: center;
}

.repo-language-title {
  margin-right: 5px;
  font-size: 18px;
}

.repo-description-title {
  margin-bottom: 3px;
  font-size: 18px;
}
